.site-nav {
  width: 100%;
  height: 35px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
.site-nav .site-nav-bd {
  margin: 0 auto;
  width: 1190px;
  height: 35px;
  background-color: #f5f5f5;
}
.site-nav .site-nav-menu {
  display: block;
  float: left;
  font-size: 12px;
}
.site-nav .site-nav-menu .site-nav-menu-list {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-list ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list ul li {
  width: 242px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list .chinese {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
  height: 288px;
  overflow-y: scroll;
}
.site-nav .site-nav-menu .site-nav-menu-list-one {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-list-one ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list-one ul li {
  width: 242px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list-one .chinese {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
  height: 288px;
  overflow-y: scroll;
}
.site-nav .site-nav-menu .site-nav-menu-list-two {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-list-two ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list-two ul li {
  width: 86px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list-two .chinese {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
  height: 288px;
  overflow-y: scroll;
}
.site-nav .site-nav-menu .site-nav-menu-list-three {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-list-three ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list-three ul li {
  width: 74px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list-three .chinese {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
  height: 288px;
  overflow-y: scroll;
}
.site-nav .site-nav-menu .site-nav-menu-list-four {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-list-four ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list-four ul li {
  width: 86px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list-four .chinese {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
  height: 288px;
  overflow-y: scroll;
}
.site-nav .site-nav-menu .site-nav-menu-list-five {
  z-index: 10001;
  position: relative;
  display: none;
  margin-top: -1px;
}
.site-nav .site-nav-menu .site-nav-menu-list-five ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
}
.site-nav .site-nav-menu .site-nav-menu-list-five ul li {
  width: 74px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav .site-nav-menu .site-nav-menu-list-five .chinese {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  line-height: normal;
  border: 1px solid #EEEEEE;
  background: #FFF;
  padding: 8px 0;
  height: 288px;
  overflow-y: scroll;
}
.site-nav .site-nav-menu-hd {
  padding: 0 6px;
  height: 35px;
  line-height: 35px;
}
.site-nav a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 7px;
}
.site-nav a:hover {
  color: #f22e00;
}
.site-nav .site-nav-arrow {
  display: block;
  float: right;
  width: 12px;
  height: 6px;
  line-height: 6px;
  margin-top: 14px;
}
.site-nav .site-nav-arrow .arrow-down {
  cursor: default;
  font-size: 12px;
  color: #9c9c9c;
}
.site-nav .site-nav-bd-left {
  float: left;
}
.site-nav .site-nav-bd-left .site-nav-region {
  padding-right: 7px;
  height: 35px;
  display: inline-block;
}
.site-nav .site-nav-bd-left .login-enroll {
  display: block;
  margin-right: 0.25px;
}
.site-nav .site-nav-bd-left .login-enroll .login {
  color: #f22e00;
}
.site-nav .site-nav-bd-left .login-enroll .enroll {
  margin-left: -4px;
}
.site-nav .site-nav-bd-right {
  float: right;
}
.site-nav .site-nav-bd-right .site-nav-pipe {
  display: block;
  float: left;
  text-align: center;
  color: #DDD;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
}
.site-nav .site-nav-bd-right .commodity {
  margin-right: -3.75px;
}
.site-nav .site-nav-bd-right .collection-fill {
  overflow: hidden;
  margin-top: -5px;
  margin-right: 1px;
  color: #9c9c9c;
  font-size: 13.5px;
}
.site-nav .site-nav-bd-right .five {
  overflow: hidden;
}
.site-nav .site-nav-bd-right .car {
  font-size: 12px;
  color: #ff4400;
}
.site-nav .site-nav-bd-right .car-font {
  margin-right: -1px;
}
.site-nav .site-nav-bd-right .my-font {
  margin-right: 1px;
}
.cup {
  display: block;
  margin: 0 auto;
}
.cup .top {
  display: block;
  margin: 20px 0 17px 0;
}
.cup .top .top-wrap {
  display: block;
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.cup .top .top-wrap .top-logo {
  display: block;
  float: left;
  width: 190px;
  margin-left: 41.5px;
  margin-top: 11px;
}
.cup .top .top-wrap .top-logo .logo-img {
  width: 175px;
  height: 60px;
}
.cup .top .top-wrap .search {
  display: block;
  margin-left: 255px;
  margin-right: 302px;
}
.cup .top .top-wrap .search .search-wrap {
  display: block;
  position: relative;
}
.cup .top .top-wrap .search .search-wrap .search-bd {
  display: inline-block;
  margin-top: 17px;
  width: 738px;
  height: 42px;
  border-radius: 100px;
  background-color: #FFF;
  border: 2px solid #FF5500;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left {
  position: absolute;
  top: 19px;
  left: 2px;
  z-index: 1;
  border-radius: 100px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left .search-tab {
  display: block;
  position: relative;
  width: 65px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left .search-tab .baby {
  position: relative;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  color: #333;
  text-align: center;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left .search-tab .baby .baby-iconfont {
  font-size: 1px;
  position: absolute;
  top: 1px;
  left: 48px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left .search-tab .baby ul {
  display: none;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left .search-tab .baby li {
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  color: #333;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-left .search-tab .baby li:hover {
  color: #ff6200;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-form i {
  z-index: 1;
  position: absolute;
  top: 26px;
  left: 67px;
  width: 1px;
  height: 24px;
  background-color: #F3F0F0;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-form .search-button {
  display: block;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-form .search-button .btn-search {
  position: absolute;
  top: 21px;
  right: -101px;
  width: 72px;
  height: 34px;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(145deg, #ff9000, #ff5000 77%);
  cursor: pointer;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-form .search-combobox {
  display: block;
  height: 38px;
  margin-right: 74px;
  padding-left: 78px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-form .search-combobox .search-combobox-text {
  margin-left: -12px;
  overflow-y: visible;
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 12px;
  color: #000;
  text-indent: 9px;
  border: 0;
  outline: none;
}
.cup .top .top-wrap .search .search-wrap .search-bd .search-form .search-combobox .search-combobox-text::placeholder {
  color: #9b9b9b;
  text-indent: 10px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .hot {
  margin: 10px 0 0px 16px;
  display: block;
}
.cup .top .top-wrap .search .search-wrap .search-bd .hot a {
  margin-right: 8px;
}
.cup .top .top-wrap .search .search-wrap .search-bd .hot a:hover {
  color: #ff6200;
}
.screen-outer {
  display: block;
  background: #fff;
  width: 1190px;
  margin: 0 auto;
  border-radius: 18px 18px 0 0;
}
.screen-outer .tbh-service {
  display: block;
  overflow: hidden;
}
.screen-outer .tbh-service .newservice {
  display: block;
  position: relative;
  float: left;
  font-size: 14px;
  margin: 24px 0px 0px 24px;
  width: 270px;
  background-color: #F7F9FA;
  border-radius: 12px;
}
.screen-outer .tbh-service .newservice h2 {
  padding: 15px 0 0 20px;
  font-size: 18px;
}
.screen-outer .tbh-service .newservice .service-bd {
  padding: 13px 0 8px 18px;
}
.screen-outer .tbh-service .newservice .service-bd li {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  width: 212px;
  height: 24px;
  color: #666666;
  margin-top: -1px;
}
.screen-outer .tbh-service .newservice .service-bd li i {
  margin-right: 14px;
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.screen-outer .tbh-service .newservice .service-bd li .service-slash1 {
  margin-right: 1.5px;
  margin-left: 4px;
  height: 22px;
  width: 7px;
  font-size: 14px;
}
.screen-outer .tbh-service .newservice .service-bd li .service-slash2 {
  margin-right: 6px;
  margin-left: 4px;
  height: 22px;
  width: 7px;
  font-size: 14px;
}
.screen-outer .tbh-service .main {
  display: block;
  float: right;
  background-color: #fff;
  border-radius: 0 18px 0 0;
}
.screen-outer .tbh-service .main .tbh-nav {
  min-height: 0;
  display: block;
}
.screen-outer .tbh-service .main .tbh-nav .newnav {
  height: 42px;
  color: #000;
  background-color: #F7F9FA;
  border-radius: 12px;
  margin: 24px 26px 0 0;
  width: 856px;
}
.screen-outer .tbh-service .main .tbh-nav .newnav .nav-hd {
  margin-left: 17px;
  float: left;
  font-size: 16px;
  line-height: 16px;
  margin-top: 13px;
}
.screen-outer .tbh-service .main .tbh-nav .newnav .nav-hd li {
  float: left;
  text-align: center;
}
.screen-outer .tbh-service .main .tbh-nav .newnav .nav-hd li a {
  padding: 0 20px;
  color: #333;
}
.screen-outer .tbh-service .main .tbh-nav .newnav .nav-hd li .one:hover {
  color: #ff6200;
}
.screen-outer .tbh-service .main .tbh-nav .newnav .nav-hd .pipe {
  color: #e0e0e0;
}
.screen-outer .tbh-service .carousel {
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin: 8px 0 0 12px;
  width: 564px;
  height: 315px;
}
.screen-outer .tbh-service .carousel img {
  width: 564px;
  height: 315px;
  border-radius: 12px;
}
.screen-outer .tbh-service .tbh-user {
  display: block;
  width: 316px;
  height: 357px;
  float: right;
}
.screen-outer .tbh-service .tbh-user .user {
  display: block;
}
.screen-outer .tbh-service .tbh-user .user .user-img {
  display: block;
  margin: 32px auto 0;
  width: 60px;
  height: 60px;
}
.screen-outer .tbh-service .tbh-user .user .user-img a {
  display: block;
}
.screen-outer .tbh-service .tbh-user .user .user-img a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.screen-outer .tbh-service .tbh-user .user .user-img .hi {
  display: block;
  float: right;
  margin-right: -125px;
  width: 316px;
}
.screen-outer .tbh-service .tbh-user .user .user-img .hi a {
  display: block;
}
.screen-outer .tbh-service .tbh-user .user .user-img .hi a span {
  font-size: 16px;
  margin-top: 18px;
  display: block;
  line-height: 24px;
  height: 24px;
  text-align: center;
}
.screen-outer .tbh-service .tbh-user .user .user-img .hi a:hover {
  color: red;
}
.screen-outer .tbh-service .tbh-user .user .user-login {
  display: inline-block;
  margin-top: 13px;
  height: 42px;
}
.screen-outer .tbh-service .tbh-user .user .user-login .login-btn {
  float: left;
  color: #FFF;
  width: 80px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 21px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}
.screen-outer .tbh-service .tbh-user .user .user-login .one {
  margin-left: 30px;
  background-image: linear-gradient(to right, #ff5000 0, #ff6000 100%);
}
.screen-outer .tbh-service .tbh-user .user .user-login .two {
  background-image: linear-gradient(to right, #ff9000 0, #ff7000 100%);
}
.screen-outer .tbh-service .tbh-user .user .user-login .three {
  color: #FF5000;
  border: 1px solid #FF915E;
}
.screen-outer .tbh-service .tbh-user .user .user-mytao {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 30px 0 0 30px;
}
.screen-outer .tbh-service .tbh-user .user .user-mytao .mytao-content {
  display: block;
  float: left;
  margin-right: 22px;
}
.screen-outer .tbh-service .tbh-user .user .user-mytao .mytao-content :hover {
  color: #ff4400;
}
.screen-outer .tbh-service .tbh-user .user .user-mytao .mytao-content a {
  color: #3c3c3c;
}
.screen-outer .tbh-service .tbh-user .user .user-mytao .mytao-content a span {
  width: 48px;
  height: 20px;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.screen-outer .tbh-service .tbh-user .user .user-tipmain {
  width: 252px;
  height: 18px;
  overflow: hidden;
  position: relative;
  margin: 36px 0 0 30px;
}
.screen-outer .tbh-service .tbh-user .user .user-tipmain .user-tip {
  width: 252px;
  overflow: hidden;
  height: 18px;
}
.screen-outer .tbh-service .tbh-user .user .user-tipmain .user-tip a {
  color: #3c3c3c;
}
.screen-outer .tbh-service .tbh-user .user .user-tipmain .user-tip a div {
  float: left;
  width: 32px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  background-color: #FFEFEF;
  border-radius: 2px;
  color: #FF5000;
  font-size: 12px;
}
.screen-outer .tbh-service .tbh-user .user .user-tipmain .user-tip a p {
  float: left;
  margin-left: 4px;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  width: 216px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.layer {
  display: block;
  width: 1190px;
  margin: 0 auto;
}
.layer .layer-inner {
  overflow: hidden;
  background-color: #fff;
}
.layer .layer-inner .tbh-hotsale {
  display: block;
  padding-top: 46px;
  position: relative;
}
.layer .layer-inner .tbh-hotsale .tb-recommend {
  display: block;
  padding: 0 19px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-header {
  height: 24px;
  margin-bottom: 30px;
  margin-left: 6px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-header span {
  font-size: 24px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-header p {
  display: inline-block;
  border-radius: 5px;
  margin-left: 1px;
  margin-bottom: -3px;
  overflow: hidden;
  font-size: 14px;
  width: 64px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFF;
  background-color: #ff6200;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content {
  margin-left: -18px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item {
  float: left;
  width: 372px;
  height: 174px;
  border-radius: 10px;
  position: relative;
  background-color: #f7f9fa;
  margin: 0 0 18px 18px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 11px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .img-wrap {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .img-wrap img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .info-wrap {
  display: block;
  height: 116px;
  margin-left: 162px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .info-wrap .title {
  display: inline-block;
  font-size: 16px;
  max-height: 46px;
  color: #333;
  line-height: 25px;
  margin-bottom: 10px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .info-wrap .tab-list {
  display: block;
  overflow: hidden;
  height: 20px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .info-wrap .tag-item {
  display: inline-block;
  color: #FF5000;
  border-color: #FAB596;
  background: #FFFFFF;
  height: 20px;
  font-size: 12px;
  border: 1px solid #ff5000;
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 1px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .price-wrapper {
  display: block;
  margin-left: 162px;
  height: 30px;
  color: #FF5500;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .price-wrapper .price-value {
  display: inline-block;
  font-size: 22px;
  line-height: 16px;
  margin-left: -2px;
}
.layer .layer-inner .tbh-hotsale .tb-recommend .tb-recommend-content .tb-recommend-content-item a .price-wrapper .price-value em {
  margin-right: -6px;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  vertical-align: middle;
  font-style: normal;
}
.help {
  display: block;
  width: 1190px;
  margin: 0 auto;
}
.help .help-inner {
  overflow: hidden;
  background-color: #fff;
}
.help .help-inner .tbh-helper {
  display: block;
  position: relative;
  border-radius: 0 0 18px 18px;
  background-color: #fff;
}
.help .help-inner .tbh-helper .helper {
  display: block;
  padding-top: 40px;
  height: 140px;
}
.help .help-inner .tbh-helper .helper .mod {
  display: block;
  float: left;
  margin-right: -1px;
  width: 25%;
  padding-bottom: 26px;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap {
  display: block;
  padding: 0 25px;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap h4 {
  font-size: 100%;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap h4 i {
  font-size: 32px;
  color: #999;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap h4 span {
  overflow: hidden;
  margin-left: 8px;
  margin-bottom: -12px;
  font-size: 16px;
  color: #3c3c3c;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap ul {
  list-style: none;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap ul li {
  display: inline-block;
  zoom: 1;
  margin-right: 10px;
  width: auto;
  float: none;
}
.help .help-inner .tbh-helper .helper .mod .mod-wrap ul li a {
  color: #999;
}
.tb-footer {
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
  background-color: #fff;
  font-size: 8px;
}
.tb-footer .tb-footer-hd {
  display: block;
  padding-top: 7px;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}
.tb-footer .tb-footer-hd .p1 {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 2px;
  line-height: 27px;
  color: #6c6c6c;
  border-bottom: 1px solid #ddd;
}
.tb-footer .tb-footer-hd .p1 span {
  display: inline-block;
  margin: 0 1.5px;
  height: 0px;
}
.tb-footer .tb-footer-hd .p1 span a {
  color: #000;
}
.tb-footer .tb-footer-hd .p1 b {
  color: #ddd;
  margin: 0 3px;
  font-weight: 400;
  line-height: 27px;
}
.tb-footer .tb-footer-hd .p2 {
  display: block;
  margin-bottom: -8px;
}
.tb-footer .tb-footer-hd .p2 span {
  display: inline-block;
  margin-right: 6px;
  color: #9c9c9c;
}
.tb-footer .tb-footer-hd .p2 span a {
  color: #000;
}
.tb-footer .tb-footer-hd .p2 b {
  color: #ddd;
  font-weight: 400;
}
.tb-footer .tb-footer-hd .p2 em {
  color: #9c9c9c;
  font-size: 12px;
  margin-left: 30px;
  font-style: normal;
}
.tools {
  position: fixed;
  right: 0px;
  top: 30%;
  width: 60px;
  background-color: #F7F9FA;
  border-radius: 18px 0 0 18px;
}
.tools .tools-list {
  display: block;
  padding-top: 26px;
  padding-bottom: 32px;
}
.tools .tools-list .tools-item {
  padding-left: 20px;
  height: 46px;
  margin-top: -10px;
}
.tools .tools-list .tools-item .top {
  width: auto;
  height: 22px;
}
.tools .tools-list .tools-item .top p {
  font-size: 26px;
}
.tools .tools-list .tools-item-one {
  display: block;
}
.tools .tools-list .tools-item-one .top {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 47px;
  margin-top: 36px;
}
.tools .tools-list .tools-item-one .top i {
  font-size: 26px;
  width: 100%;
  height: 24px;
  margin-bottom: 5px;
}
.tools .tools-list .tools-item-one .top p {
  width: 60px;
  display: inline-block;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
}
.tools .tools-list .tools-gotop {
  display: none;
}
